<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appSettings>
        <add key="oauth-caption" value="GDEP Login" />
        <add key="oauth-id" value="71kg61kc643v93" />
        <add key="oauth-secret" value="27bknq87go26vkdfyb" />
        <add key="oauth-scope" value="mail,sAMAccountName,sn,givenName,mobile,postOfficeBox,distinguishedName" />
    </appSettings>
</configuration>