<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="oauth-type" value="OAuth" />
    <add key="oauth-caption" value="OAuth Login" />
    <add key="oauth-id" value="" />
    <add key="oauth-secret" value="" />
    <add key="oauth-scope" value="all" />
    <add key="oauth-authorize" value="http://47.104.247.217:40551/oauth/authorize" />
    <add key="oauth-token" value="http://47.104.247.217:40551/oauth/token" />
    <add key="oauth-user" value="http://47.104.247.217:40551/user/simple" />
    <add key="oauth-callback" value="/signin-huitian" />
  </appSettings>
</configuration>
